<% hide_right %>

<h1><%= title @title %></h1>

<% if @case_studies.length > 0 %>
  <% for case_study in @case_studies %>
    <%= render "case_studies/case_study", :case_study => case_study %>
  <% end %>
  <%= will_paginate @case_studies %>
<% else %>
 <p>No Case Studies to display.</p>
<% end %>

<% content_for :left do  %>
  <div class="left_nav">
    <%= render :partial => "services" %>
    <%= render :partial => "tags" %>
  </div>
<% end %>
