<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Somebody has submitted the cost calculation form</h1>
    
    <h2>Details</h2>
	  <strong>Name:</strong> <%= @name %>
	  <br />
	  <strong>Email:</strong> <%= @email %>
	  <br />
	  <strong>Phone:</strong> <%= @phone %>
	  <br />
    <strong>Document distibution count:</strong> <%= @ddc %>
    <br />
	  <strong>Document archive count:</strong> <%= @dac %>
	  <br />
	  <strong>Document retrieval count:</strong> <%= @drc %>
	  <br />
	  <strong>Document callbacks count:</strong> <%= @dcc %>
	  <br />
	  <strong>Document process count:</strong> <%= @dpc %>
  </body>
</html>
