<% hide_right %>

<h1><%= title strip_tags(@title) %></h1>

<% if @articles.length > 0 %>
  <% for article in @articles %>
    <%= render "articles/article", :article => article %>
  <% end %>
  <%= will_paginate @articles %>
<% else %>
  <p>No Articles to display.</p>
<% end %>

<% content_for :left do  %>
  <div class="left_nav">
    <%= render :partial => "tags" %>
  </div>
  <%= image_tag 'sweetbanner.jpg', :alt => 'Subscribe to win' %>
  <div class="subscribe">
    Subscribe to our e-newsletter for your chance to win a fabulous retro sweet hamper!
  </div>

  <div class="subscribe-small-print">
    Simply complete the form below to enter our quarterly draw

    <div class="terms">
      (Terms and conditions apply)
    </div>
  </div>

	<%= render '/shared/constant_contact' %>
<% end %>
