<% if product.make && product.make.image %>
  <div class="product_logo"><%= image_tag(product.make.image(:logo)) %></div>
<% end %>

<h2 class="product_title"><%= product.name %></h2>

<div class="product_image">
  <% if product.image? %>
    <%= image_tag(product.image(:index)) %> 
  <% end %>
</div>

<div class="product_desc">
	<%= product.description %>
  <p>
    <%= link_to("Download Datasheet", product.datasheet.url(:original, false)) if product.datasheet? %>
    <%= link_to("Enquire", {:controller => "web", :action => "contact_us", :product => product.id}, {:class => "enquire"}) %>
    <%= link_to("Video", product.video, :class => "video", :target => "_blank") if product.video? %>
  </p>
</div>

<hr />
