<% hide_right %>

<% content_for :left do %>
  <div class="left_nav">
    <%= render :partial => "categories" %>
    <%= render :partial => "makes" %>
  </div>
<% end %>

<% title "Products" %>

<h1><%=h @product.name %></h1>
<p>
  <%=h @product.make.name %>
</p>
<p>
  <%=h @product.category.name %>
</p>
  <%= @product.description %>
<p>
  <%= @product.video %>
</p>
<hr />
<p align="right">
  <%= link_to "View All", products_path, {:class=>"blue_arrow"} %>
</p>
