<% form_for([:admin, @faq], :html => {:multipart => true}) do |f| %>
  
  <%= f.error_messages %>
  
  <fieldset>
    
    <legend>Question</legend>
    
    <p>
      <%= f.text_area :question %>
    </p>
    
  </fieldset>
  
  <fieldset>
    
    <legend>Answer</legend>
    
    <p>
      <%= f.linker_text_area :answer %>
    </p>
    
  </fieldset>
  
  <fieldset>
    <legend>Category</legend>
    <p><small>This is used to filter the list of FAQs on the individual SEO landing pages - the FAQ listing on the site's front-end will be unaffected by this.</small></p>
    <p><%= f.select :category, Faq.categories, :include_blank => true %></p>
  </fieldset>
  
  <p>
    <%= f.label :display %>
    <%= f.check_box :display %>
  </p>
  
  <p><%= f.submit "Submit" %></p>
  
<% end %>
