<% title "Case Studies" %>

<p><%= link_to "New Case Study", new_admin_case_study_path %></p>

<% form_for @search do |f| %>
  <p>
    <%= f.text_field :name_or_summary_or_main_content_like %>
    <%= f.submit "Search" %>
  </p>
<% end %>

<% form_tag :action => "index_update", :search => params[:search], :page => params[:page] do %>
  <%= admin_table({:columns => ["name", ["Summary", lambda{|x| (x.summary.length > 50) ? "#{x.summary[0..50]}..." : x.summary }, "summary"],
                               ["Highlight?", lambda{|x| (x.highlight) ? "<input name='ids[]' value='#{x.id}' type='checkbox' checked='' />" : "<input name='ids[]' value='#{x.id}' type='checkbox' />"}]
                               ], :list => @case_studies, :images => true, :highlight => lambda{|x| (x.highlight) ? x : nil}}, "admin/shared/admin_table_sort") %>
  <%= submit_tag "Update" %>
<% end %>
