<% hide_right %>

<% title "Jobs - #{@job.name}" %>

<h1><%=h @job.name %></h1>

<strong>Closing Date</strong>: <span class="date"><%=h simple_date_format @job.closing_date %></span><br />

<%= @job.main_content %>

<% if @job.information_pack? %>
  <p>
    <%= link_to "Download details", @job.information_pack.url(:original, false) %>
  </p>
<% end %>

<hr />

<p align="right">
  <%= link_to "View all Jobs", "/page/careers#CurrentVacancies", {:class => "blue_arrow"} %>
</p>

<% content_for :left do  %>
  <div class="left_nav">
    <h3>Current Vacancies</h3>
    <ul>
      <% @jobs.each do |job| %>
        <li><%= link_to job.name, job %></li>
      <% end %>
    </ul>
  </div>
<% end %>
