<fieldset>
	<legend>Content</legend>
	
	<p>
	  <%= f.label :title %><br />
	  <%= f.text_field :title %>
	</p>
	
	<p>
	  <%= f.label :main_content %><br />
	  <%= f.advanced_text_area :main_content %>
	</p>
	
	<!--
	<p>
	  <%= f.label "Case Study Categories" %><br />
	  <%#= f.subscription_select %>
	</p>
  -->
	<p>
	  <%= f.label :case_study_ids, "Hold 'Ctrl' to select multiple case studies"  %><br />
	  <%= f.collection_select :case_study_ids, CaseStudy.active, :id, :name, {}, {:multiple => true} %>
	</p>
	
</fieldset>

<fieldset>
	<legend>Additional Information</legend>

	<p>
	  <%= f.label :navigation_title %><br />
	  <%= f.text_field :navigation_title %>
	</p>
	
	<p>
	  <%= f.label :meta_description %><br />
	  <%= f.text_area :meta_description %>
	</p>
	
	<p>
	  <%= f.label :meta_tags %><br />
	  <%= f.text_area :meta_tags %>
	</p>
</fieldset>
