<div class="box" style="height: 170px;">
  <% copy = PageNode.find_by_name("Copy and Print") %>
	<%= link_to(image_tag("arena_copy_and_print.png", :alt => "Arena Copy and Print", :border => "0", :hspace => "0", :vspace => "0", :class => "image_left"), copy) %>
	<h2><%= link_to "Copy and Print", copy %></h2>
  <p>Remove hassle and cost from copy and print with our hardware, software or full managed print service.</p>
  <p align="right"><%= link_to "More", copy, {:class=>"more"} %></p>
</div>

<div class="box" style="height: 170px;">
  <% edm = PageNode.find_by_name("Electronic Document Management") %>
	<%= link_to(image_tag("arena_edm.png", :alt => "Arena Electronic Document Management", :border => "0", :hspace => "0", :vspace => "0", :class => "image_left"), edm) %>
	<h2><%= link_to "Electronic Document Management", edm %></h2>
  <p>Revolutionise your business with our <strong>m</strong>store software: Automate processes, increase efficiency and keep your data secure.</p>
  <p align="right"><%= link_to "More", edm, {:class=>"more"} %></p>
</div>

<div class="box" style="height: 170px;">
  <% mds = PageNode.find_by_name("Combined Document Service") %>
	<%= link_to(image_tag("arena_consultancy.png", :alt => "Consultancy", :border => "0", :hspace => "0", :vspace => "0", :class => "image_left"), mds) %>
	<h2><%= link_to "Consultancy", mds %></h2>
  <p>Expert review of the way you produce, share and process documents to reduce costs and drive efficiencies.</p>
  <p align="right"><%= link_to "More", mds, {:class=>"more"} %></p>
</div>
