<script type="text/javascript">
  var divs_to_fade = new  Array(<%= @home_highlights.collect{|x| "'home_highlight#{x.id}'"}.join(",") %>);
  var i = 0;
  var wait = 5000;

  function swapFade() 
  {
    Effect.Fade(divs_to_fade[i], { duration:1, from:1.0, to:0.0 });
    i++;
    if (i == <%= @home_highlights.length %> ) i = 0;
    Effect.Appear(divs_to_fade[i], { duration:1, from:0.0, to:1.0 });
  }
                         
  function startPage() 
  {
    setInterval('swapFade()', wait);
  }
</script>

<div class="top_area">
  <div class="top_area_left">
    <h1>Arena Group is a leading business in photocopiers, managed print services, IT and electronic document management.</h1>
    <p>We provide the hardware, software and service support that organisations need to copy, print, scan, distribute, archive and retrieve their documents.</p><p>Our aim is always to help you reduce costs and make your business or organisation more efficient.</p>
  </div>
  <div class="top_area_right">
    <% for home_highlight in @home_highlights %>
      <span></span>
      <div id="home_highlight<%= home_highlight.id %>" <%= "style='display:none;'" unless home_highlight == @home_highlights.first %>>       
	      <span></span>
      	<%= image_tag home_highlight.image(:show), :border => "0", :hspace => "0", :vspace => "0", :height=> "280px", :width=> "496px" %>
        <div class="top_area_right_testimonial">
      	  <% if home_highlight.name %>
            <h2><%= link_to home_highlight.name, home_highlight.link %></h2>
          <% end %>
          <p>"<%= home_highlight.summary %>"<%= link_to "More", home_highlight.link, {:class=>"more_white"} %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
