<% form_for [:admin, @white_paper], :html => {:multipart => true} do |f| %>
  
  <%= f.error_messages %>
  
  <fieldset>
    
    <legend>Summary Information</legend>
    
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    
    <p>
      <%= f.label :summary %><br />
      <%= f.text_area :summary %>
    </p>

    <p>
      <%= f.label :date %><br />
      <%= f.date_select :date %>
    </p>
    
  </fieldset>
  
  <fieldset>
    
    <legend>Document</legend>
    
    <p>
      <%= document_field_tag f, :white_paper, :document %>
    </p>
    
  </fieldset>
  
  <p><%= f.submit "Submit" %></p>
  
<% end %>
