<% form_for [:admin, @job], :html => {:multipart => true} do |f| %>
  
  <%= f.error_messages %>
  
  <p>
    <%= f.label :name, "Job Title" %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :main_content, "Description" %><br />
    <%= f.advanced_text_area :main_content %>
  </p>
  
  <p>
    <%= f.label :closing_date, "Closing Date" %><br />
    <%= f.calendar_date_select :closing_date %>
  </p>
  
  <p><%= f.submit "Submit" %></p>
  
<% end %>
