<% form_for([:admin, @testimonial], :html => {:multipart => true}) do |f| %>
  
  <%= f.error_messages %>
  
  <fieldset>
    
    <legend>Quote</legend>
    
    <p>
      <%= f.text_area :quote %>
    </p>
    
  </fieldset>
  
  <fieldset>
    
    <legend>Author</legend>
    
    <p>
      <%= f.label :author %><br />
      <%= f.text_field :author %>
    </p>
    
    <p>
      <%= f.label :company_name %><br />
      <%= f.text_field :company_name %>
    </p>
    
  </fieldset>
  
  <fieldset>
    
    <legend>Image</legend>
    
    <p>
      <%= image_field_tag f, :testimonial, :image %>
    </p>
    
    <p>
      <%= f.label :service_id %><br />
      <%= f.select :service_id, PageNode.services.collect{|x| [x.name, x.id]}, :prompt => 'Select Service', :include_blank => true %>
    </p>
    
  </fieldset>
  
  <fieldset>
    
    <legend>Tags</legend>
    
    <p>
      <%= f.label :tags %><br />
      <%= f.tag_field :tags %>
    </p>
    
  </fieldset>
  
  <p>
    <%= f.label :display %>
    <%= f.check_box :display %>
  </p>
  
  <p><%= f.submit "Submit" %></p>
  
<% end %>
