<% determine_page_node %>
<% hide_left %><% hide_right %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "webstyle_pdf.css", :media => "print" %>
<% end %>

<%= render 'details' %>

<hr />
<p><%= link_to "Download this report in PDF format", "/cost_calculations/#{params[:id]}/report.pdf", {:class=>"blue_arrow", :target => '_blank'} %></p>
<!--<p><%= link_to "Request a callback", {:action => 'request_callback'}, {:class=>"blue_arrow"} %></p>-->
<p><%= link_to "Email this report to a contact", {:action => 'email_report'}, {:class=>"blue_arrow"} %></p>
<hr />
