<% @page_name = "demon printers" %>

<% content_for :head do %>
  <%= render '/web/seo_pages/head' %>
<% end %>

<% title "Demon Printers" %>

</div>
<div class="demon-content-1">
  <div class="left">
    <h2>Is there a demon lurking in your office?</h2>
    <p>Desktop Damian and his satanic sidekicks are causing mischief
      and mayhem in offices up and down the country.
      But what’s really scary is that there are thousands just
      like them who love nothing more than wasting your precious
      time and money. Watch our video to discover more.</p>

    <div id="seo-share">
      <h2>Share...</h2>
      <div id="seo-share-email">
        <a href="mailto:?subject=I%20thought%20you%20might%20be%20interested%20in%20this...&body=<%= request.url %>"</a>
      </div>
      <div id="seo-share-facebook">
        <div id="fb-root"></div>
        <div class="fb-like" data-href="http://www.arenagroup.net/managed_document_service" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
      </div>
      <div id="seo-share-twitter">
        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
      </div>
      <div id="seo-share-google-plus">
        <g:plusone></g:plusone>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="right">
    <iframe class='sproutvideo-player' src='//videos.sproutvideo.com/embed/189bd9b1181de2c690/aa63d7de58cc52d9?type=sd' width='466' height='262' frameborder='0' allowfullscreen></iframe>
  </div>
  
  <div class="clear-the-devil"></div>
</div>



<div class="demon-content-2">
  <h2>How to spot a Demon Printer before it's too late.</h2>
  <p>Here’s our quick guide explaining all the tell-tale signs you should look out for. If your business is suffering from any of these problems - there’s a demon in your midst.</p>

  <div class="third-container">
    <div class="title">
      <h3 class="costs">Uncontrolled costs</h3>
    </div>
    <p>You can’t report on who is printing what, and you can’t confidently confirm your true print and copy spend.</p>
  </div>
  <div class="third-container">
    <div class="title">
      <h3 class="bills">Baffling bills</h3>
    </div>
    <p>You grapple with complex bills, possibly from multiple service providers.</p>
  </div>
  <div class="third-container">
    <div class="title">
      <h3 class="mash">Monster mash</h3>
    </div>
    <p>You have machines on different service contracts with multiple providers – and/or machines that are not on a service contract at all.</p>
  </div>
  <div class="third-container">
    <div class="title">
      <h3 class="nightmare">Maintenance nightmare</h3>
    </div>
    <p>Constant machine break-downs and engineer call-outs keep your IT team exhausted by day and awake at night.</p>
  </div>
  <div class="third-container">
    <div class="title">
      <h3 class="purpose">Unfit for purpose</h3>
    </div>
    <p>You’ve got the wrong machine for the job; most likely it was cheap to buy but costs you a fortune to run.</p>
  </div>
  <div class="third-container">
    <div class="title">
      <h3 class="thirst">Unquenchable thirst</h3>
    </div>
    <p>You waste hours sourcing and ordering toner or ink that <%= link_to "costs more than vintage champagne", "http://www.arenagroup.net/articles/107", :target => "_blank" %>.</p>
  </div>
</div>

<div class="demon-content-3">
  <h2>Exorcise your demons</h2>
  <p>Print and copy are often the last uncontrolled costs to a business, but it doesn’t have to be that way. Here are just some of the benefits you’ll enjoy as an Arena Group customer.</p>

  <div class="third-container two-rows">
    <div class="title">
      <h3 class="review">Free review</h3>
    </div>
    <p>Our friendly team conduct a free audit of your current print and copy devices, volumes costs and requirements. We then present you with our bespoke report that explains how we can deliver an efficient, better controlled and more transparent strategy.</p>
  </div>
  <div class="third-container">
    <div class="title">
      <h3 class="care">Top class care</h3>
    </div>
    <p>All of your machines are covered by a service agreement with Arena. Our engineers fix any problems at no extra cost.</p>
  </div>
  <div class="third-container">
    <div class="title">
      <h3 class="team">Dream team</h3>
    </div>
    <p>We make sure your print and copy devices are fit for purpose and suit the way you work. We’ll recycle any old and worn-out demons too, replacing them with brand new machines.</p>
  </div>
  <div class="third-container">
    <div class="title">
      <h3 class="tonic">Toner tonic</h3>
    </div>
    <p>We can link to your machines and send you toner just when your printer is running low – no more sourcing or storage headaches.</p>
  </div>
  <div class="third-container">
    <div class="title">
      <h3 class="billing">Simple billing</h3>
    </div>
    <p>Consumables, maintenance and print costs are consolidated into one regular, agreed bill - no more ghastly surprises.</p>
  </div>
</div>

<div class="rule">
  <hr />
</div>

<div class="demon-content-4">

  <h3>Case studies: See how we’ve helped other businesses to exorcise their demons</h3>

  <% @case_studies.each do |case_study| %>
  <div class="case_study">
    <% if case_study.image? %>
      <%= link_to image_tag(case_study.image.url(:index), :width=>"200", :height=>"136"), case_study_path(:id => case_study.id, :service => params[:service]) %>
    <% end %>
    <h2>
      <%= link_to h(case_study.name), case_study_path(:id => case_study.id, :service => params[:service]) %>
    </h2>
    <% if case_study.testimonial %>
      <p>"<%= case_study.testimonial.quote %>"</p>
      <% if case_study.testimonial.author? %>
        <span class="date"><%= case_study.testimonial.author %></span>
      <% end %>
    <% end %>
    <p align="right">
      <%= link_to "More", case_study_path(:id => case_study, :service => params[:service]), {:class=>"blue_arrow"} %>
    </p>
  </div>
  <% end %>

<hr/>

</div>

<div class="demon-content-5">
  <div class="left">
    <h2>Contact us today for a free, no obligation review and say goodbye demons, hello Prints Charming.</h2>
    <%= image_tag "/images/contact_printer.jpg", :alt => "Contact Us" %>
  </div>

  <div class="right">


    <% form ||= "Demon Printers" %>
    <h3>Get in touch</h3>

    <% form_tag( {:controller => 'web', :action => 'demon_printers'}, {}) do %>
      <div class="contact-left">
        <%= hidden_field_tag :form, form %>
        <p>
          <%= label_tag "Name" %>
          <%= text_field_tag :name, params[:name], :placeholder => "Name" %>
        </p>
        <p>
          <%= label_tag "Email" %>
          <%= text_field_tag :email, params[:email], :placeholder => "E-Mail" %>
        </p>
        <p>
          <%= label_tag "Phone" %>
          <%= text_field_tag :phone, params[:phone], :placeholder => "Phone" %>
        </p>
        <p>
          <%= label_tag "Company name" %>
          <%= text_field_tag :company_name, params[:company_name], :placeholder => "Company name" %>
        </p>
        <p>
          <%= label_tag "Post code" %>
          <%= text_field_tag :post_code, params[:post_code], :placeholder => "Company Post Code" %>
        </p>
        <p>
          <%= label_tag "Business size" %><br/>
          <% options = ["10 and Under", "11-25 People", "26-100 People", "101-250 People", "250+ People"] %>
          <%= select_tag :business_size, options_for_select([["Size of Business", ""]] + options, params[:business_size]) %>
        </p>
      </div>

      <div class="contact-right">
        <p>
          <%= label_tag "Enquiry" %>
          <%= text_area_tag :enquiry, params[:enquiry], :placeholder => "Add any more information here" %>
        </p>

        <p>
          <%= recaptcha_tags :display => {:theme => "clean"} %>
        </p>

        <p>
          <%= submit_tag "Send" %>
        </p>
      </div>

    <% end %>



  </div>
</div>







