<% metadata(@page_node.active_content.meta_description, @page_node.active_content.meta_tags) %>

<% hide_right %>

<h1><%= title @page_node.title %></h1>	

<%= @page_node.active_content.main_content %>

<div>
  <% form_tag :controller => "web", :action => "deliver_duplicate_invoice_request" do %>
    <p>
	    <%= label_tag :invoice_number %><br />
	    <%= text_field_tag :invoice_number, params[:invoice_number] %>
    </p>
    <p>
	    <%= label_tag :email %><br />
	    <%= text_field_tag :email, params[:email] %>
    </p>
    <p>
	    <%= submit_tag "Submit" %>
    </p>
  <% end %>
</div>
