<% hide_flash; hide_right %>

<% content_for :head do %>
	<%= render '/web/seo_pages/head' %>
	<script type="text/javascript">
    swfobject.embedSWF("arena - EMD.swf", "edm-video", "600", "350", "9.0.0");
  </script>
<% end %>

<% content_for :telephone do %>
  <span><%= SiteSetting.find_by_name("Phone (SEO)").value %></span><br />
<% end %>

<% content_for :left do %>
  <div class="left_nav">
		<h2><a href="/page/managed-document-service">Managed Document Service</a></h2>
    <ul> 
		  <li><a href="/page/electronic-document-management">Electronic Document Management (EDM)</a></li>
		  <li><a href="/page/copy-and-print">Copy and Print</a></li>
		  <li><a href="/page/partners">Partners</a></li>
		  <li><a href="/page/arena-in-business-brochure" class="document" onclick="window.open(this.href);return false;">Arena in Business Brochure</a></li>
		  <li><a href="/page/arena-in-education-brochure" class="document" onclick="window.open(this.href);return false;">Arena in Education Brochure</a></li>
	  </ul>    
  </div>
	<% if @survey %>
   	<h2 class="underlined"><%= link_to "Customer Satisfaction Results", surveys_path %></h2> 
   	<div class="survey">
      <div class="survey_percentage">
        <%= @survey.result %>
      </div>
      <div class="survey_name">
        <%= @survey.name %>
      </div>
      <div class="clear"></div>
    </div>
  <% end %>
  <%= render '/web/seo_pages/request_a_review', :form => "electronic_document_management" %>
<% end %>

<!-- Main ------------------------------------ -->

<div id="seo-landing-page">
  
  <h1><%= title("Electronic Document Management") %></h1>
  
  <%= flash[:notice] if flash[:notice] %>
  
	<div class="row">
		<div id="edm-video">
			
		</div>
	</div>
	
  <div class="row">
    
    <div class="cell guttered">
      <p><strong>Increasingly, paper-based documents add little value to a business but scanning and electronically tagging them could mean those that may have been difficult to access become relevant, secure and quick to find.</strong></p>
			<p>Our EDM system helps businesses scan, organise, store and retrieve documents electronically.  It easily integrates with bespoke and industry-specific software including common packages for accounting, legal case management, HR, student records etc.</p>
			<p>It is very flexible and highly configurable, it will mould around your business rather than you having to adapt to its methodologies.  Because we are the software authors, we can be flexible on customisation and development to meet your needs.</p>
			
    </div>
    
    <div class="cell">
			<h2 class="no-top">Benefits:</h2>
			<ul>
				<li>Improved efficiency &#45; all your documents at your fingertips</li>
				<li>Reduced workload surrounding audits and inspections</li>
				<li>Disaster recovery protection &#45; from fire, flood, theft or loss</li>
				<li>Document security &#45; controlled access to sensitive data</li>
				<li>Reduced storage demands and costs</li>
				<li>More comprehensive regulatory compliance</li>
				<li>Remote access, 24/7 - from anywhere with an internet connection, including some mobile devices.</li>
			</ul>
      <%#= image_tag("seo-electronic-document-manager.jpg", :width => "330", :height => "250", :alt => "Electronic Document Manager", :title => "Electronic Document Manager") %>
      
			
			<div id="seo-share">
				<h2>Share...</h2>
        <div id="fb-root"></div>
				<div class="fb-like" data-href="http://www.arenagroup.net/electronic_document_management" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
				&nbsp;
				<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
				&nbsp;
				<g:plusone></g:plusone>
      </div>
    </div>
    
    <div class="clear"></div>
    
  </div>
  
  <div class="row">
    <%= render '/web/seo_pages/map' %>
  </div>    
	
	<% unless @case_study.blank? %>
		<div class="row">
			<h2>Case Studies: See how we've helped other people</h2>
			<%= render '/case_studies/case_study', :case_study => @case_study %>
		</div>
    <div class="clear"></div>
	<% end %>
  
  <div class="row">
    <h2>Are you interested in our Managed Document Service (MDS)?</h2>
    <div class="cell guttered">
      <%= image_tag("managed-document-service.jpg", :alt => "Managed Document Service", :title => "Managed Document Service") %>
      <p>Read more on our dedicated <%= link_to("MDS page", "/page/managed-document-service") %>.</p>
    </div>
    <div class="seo-cell" style="width: 50%; float: left;">
      <ul>
        <li>Electronic Document Management (EDM)</li>
        <li>Scan, print and email</li>
        <li>Paperless back-ups</li>
        <li>Automatic toner ordering</li>
        <li>Service and repair response team</li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  
  <div class="row">
    <div class="cell guttered">
      <h2>Download our free guides</h2>
      <%= render '/web/seo_pages/free_guides' %>
    </div>
    <div class="cell">
      <h2>FAQs</h2>
      <%= render '/faqs/seo', :faqs => @faqs %>
    </div>
    <div class="clear"></div>
  </div>
  
  <div class="row">
		<%= flash[:alert] if flash[:alert] %>
		<%= render '/web/seo_pages/contact_form' %>
  </div>
  
</div>
