<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>
      <%= @name %> has filled in the contact us form
      <%= " in relation to #{Product.find(@product).name}" unless @product.blank? %>
    </h1>
    <h2>Contact Details:</h2>
    <% if @tel && !@tel.blank? %>
    	<strong>Telephone: </strong> <%= @tel %><br />
    <% end %>
    <% if @email && !@email.blank? %>
    	<strong>Email: </strong> <%= auto_link @email %><br />
    <% end %>
    <% if @postcode && !@postcode.blank? %>
    	<strong>Postcode: </strong> <%= @postcode %><br />
    <% end %>
    <h2>Enquiry:</h2>
    <%= @enquiry %>
  </body>
</html>
