<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>
      <% unless @form.blank? %>
        <%= @name %> has filled in the <%= @form.gsub("_", " ") %> form
      <% else %>
        <%= @name %> has filled in the request a review form
      <% end %>
    </h1>
    <h2>Contact Details:</h2>
    <% if @phone && !@phone.blank? %>
    	<strong>Telephone: </strong> <%= @phone %><br />
    <% end %>
    <% if @email && !@email.blank? %>
    	<strong>Email: </strong> <%= auto_link @email %><br />
    <% end %>
    <h2>Company Details:</h2>
    <% if @company_name && !@company_name.blank? %>
    	<strong>Company Name: </strong> <%= @company_name %><br />
    <% end %>
    <% if @post_code && !@post_code.blank? %>
    	<strong>Post Code: </strong> <%= @post_code %><br />
    <% end %>
    <% if @business_size && !@business_size.blank? %>
    	<strong>Business size: </strong> <%= @business_size %><br />
    <% end %>
    <h2>Enquiry:</h2>
    <%= @enquiry %>

  </body>
</html>