<% determine_page_node %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<link rel="Shortcut Icon" href="/favicon.ico">
  <link href="https://plus.google.com/114734096788465897192" rel="publisher" />
	<title><%= h("#{SiteSetting.find_by_name("Site Name").value} - #{yield(:title) || "Untitled"}") %></title>

	<%= stylesheet_link_tag "webstyle.css" %>
	<%= stylesheet_link_tag "tnymc.css" %>
  <%#= stylesheet_link_tag "lytebox_front.css" %>
	<% if @current_page_node && @current_page_node.style %>
		<%= stylesheet_link_tag @current_page_node.style %>
	<% end %>

	<%= javascript_include_tag "prototype" %>
	<%= javascript_include_tag "scriptaculous" %>
  <%#= javascript_include_tag "lytebox" %>
	<%= javascript_include_tag "swfobject" %>

	<% if @include_tinymce_script -%>
	  <%= javascript_include_tag "tiny_mce/tiny_mce.js" %>
	  <%= javascript_include_tag "tiny_mce_config" %>
	<% end -%>

	<script type="text/javascript" src="https://secure.leadforensics.com/js/3546.js"></script>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8; IE=edge" />

  <% if yield :head %>
    <%= yield :head %>
  <% end %>

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-22854408-1']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl'  : 'http://www')  + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>

  <% if @insert_into_head %>
    <%= yield :insert_into_head %>
  <% else %>
    </head>
    <body>
  <% end %>

<div class="maincontainer">

	<p class="skip"><a href="#content" accesskey="s">Skip to the main content</a></p>

	<div class="top">
  	<div class="top_inner">
			<%= link_to image_tag("logo.gif", :alt => SiteSetting.find_by_name("Site Name").value, :title => SiteSetting.find_by_name("Site Name").value, :border => "0", :hspace => "0", :vspace => "0", :class => "logo"), {:controller => 'web', :action => 'index'} %>
      <div class="top_right">
        <div class="top_navigation">
          <%= render :partial => "shared/top_navigation", :locals => {:roots => PageNode.find_by_name("Second Tier Navigation"), :home => false} %>
</div><div class="social_media"><a href="https://twitter.com/ArenaGroup" target="_blank"><%= image_tag "twitter.gif", :alt=>"Twitter", :border=>"0" %></a><a href="http://www.linkedin.com/company/arena-group" target="_blank"><%= image_tag "linkedin.gif", :alt=>"LinkedIn", :border=>"0" %></a></div>
<div class="clear"></div>
        <div class="contact_info">
          CALL FOR MORE INFORMATION<br />
          <% if yield :telephone %>
            <%= yield :telephone %>
          <% else %>
            <span>0844 863 8000</span><br />
          <% end %>
          <i>Calls charged at local rates</i><br />
          <a href="mailto:info@arenagroup.net">info@arenagroup.net</a>
        </div>
      </div>
    </div>
    <div class="navigation">
      <%= render :partial => "shared/top_navigation", :locals => {:roots => PageNode.find_by_name("Main Navigation"), :home => true} %>
    </div>
    <div class="top_search">
      <% form_tag :controller => "web", :action => "site_search" do %>
        <%= text_field_tag :search, "Enter search here", :onclick => "this.value='';" %>
        <%= submit_tag " ", :class => "go" %>
      <% end %>
    </div>
	</div>

  <% if @page_name == "home" %>
    <%= render :partial => "shared/top_area" %>
  <% end %>

  <% if @page_name == "demon printers" %>
    <%= render :partial => "shared/demon_printers" %>
  <% end %>

  <% if @page_name and @page_name.include? "SEO" %>
    <%= render :partial => "/web/seo_pages/top_area" %>
  <% end %>

	<div id="content">
		<%- unless hide_flash? -%>
		  <%- flash.each do |name, msg| -%>
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
			<%- end -%>
		<%- end -%>
		<% if hide_left? && hide_right? %>
      <div class="content_long">
        <%= @content_for_layout %>
      </div>
		<% elsif hide_left? %>
      <div class="content_left">
        <%= @content_for_layout %>
      </div>
      <div class="right">
        <%= yield :right %>
      </div>
		<% elsif hide_right? %>
      <div class="left">
        <%= render :partial => "shared/navigation" %>
        <%= yield :left %>
      </div>
      <div class="content_right">
        <%= @content_for_layout %>
      </div>
		<% else %>
      <div class="left">
        <%= render :partial => "shared/navigation" %>
      </div>
      <div class="content_middle">
        <%= @content_for_layout %>
      </div>
      <div class="right">
        <%= yield :right %>
      </div>
		<% end %>
    <div class="clear"></div>
    <% if @page_name == "home" %>

    <% else %>
    	<div class="footer_boxes">
  			<%= render :partial => "/shared/footer_boxes" %>
      </div>
    <% end %>
	</div>

	<div class="footer">
    <!-- <div class="footer_col_1"> -->
<!--      <h3>Contact Us</h3>
      <div>
        <%= link_to "Wakefield", "/web/contact_us#Wakefield" %><br />
        <%= link_to "Bolton", "/web/contact_us#Bolton" %><br />
        <%= link_to "Chesterfield", "/web/contact_us#Chesterfield" %>
      </div>
      <div style="padding-right: 0px; margin-right: 0px; border-right: 0px;">
        <%= link_to "EDM", "/web/contact_us#EDM" %><br />
        <%= link_to "Distribution &amp; Training Centre", "/web/contact_us#DATC" %><br />
				<%= link_to "Fovia (Innovation) Ltd", "/web/contact_us#Fovia" %>
      </div>-->
      <!-- <p><%= image_tag "government_procurement_service_supplier.png", :border => "0", :hspace => "0", :vspace => "0" %></p> -->
			<!--
    </div>
    <div class="footer_col_2">
      <!-- <h3>Accreditations &amp; Awards</h3> -->
      <!-- <p><%= image_tag "awards.jpg", :alt => "Accreditations &amp; Awards", :border => "0", :hspace => "0", :vspace => "0" %></p>
		</div>-->
		<p><%= image_tag "awards.jpg", :alt => "Accreditations &amp; Awards", :border => "0", :hspace => "0", :vspace => "0" %></p>
	</div>

  <div class="bottom">
    <p>
      <%= link_to "&copy; #{Date.today.year} Arena Group Ltd" %> |
      <%= link_to "Cookies &amp; Privacy", PageNode.find_by_name("Cookies and Privacy") %> |
      <%= link_to "Terms of use", PageNode.find_by_name("Terms of Use") %> |
      <a href="http://www.eskimosoup.co.uk" target="_blank">Web design by eskimosoup</a> |
      <%= link_to "Accessibility", {:controller => "web", :action => "accessibility"}, {:accesskey => "1"} %>
    </p>
		<p>
			The Arena Group comprises: Arena Group Holdings Limited, a company registered in England and Wales (with registered company number 03735943 and VAT number 734562528) and its subsidiary company: Arena Group Limited a company registered in England and Wales (with registered company number 02168309 and VAT number 458238033). The Registered office of all Arena Group companies is Armitage House, Thorpe Lower Lane, Robin Hood, Wakefield, WF3 3BQ.
		</p>
  </div>

</div>

</body>
</html>
