<% form_for [:admin, @product], :html => {:multipart => true} do |f| %>
  
  <%= f.error_messages %>
  
  <fieldset>
    
    <legend>Information</legend>
    
    <p>
      <%= f.label :make_id %><br />
      <%= f.select :make_id, Make.all.collect{|x| [x.name, x.id]}, :prompt => 'Select Make' %>
    </p>
    
    <p>
      <%= f.label :category_id %><br />
      <%= f.select :category_id, Category.all.collect{|x| [x.name, x.id]}, :prompt => 'Select Category' %>
    </p>
    
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    
    <p>
      <%= f.label :description %><br />
      <%= f.advanced_text_area :description %>
    </p>
    
  </fieldset>

  <fieldset>
    
    <legend>Attached Media</legend>
    
    <p>
      <%= document_field_tag f, :product, :datasheet %>
    </p>
    
    <p>
      <%= image_field_tag f, :product, :image %>
    </p>
    
    <p>
      <%= f.helpful_label :video, 'Embedded Video', "Copy the video link to the box below" %><br />
      <%= f.text_field :video %>
    </p>
    
  </fieldset>
  
  <p><%= f.submit "Submit" %></p>
  
<% end %>
