<% form_for([:admin, @staff_testimonial], :html => {:multipart => true}) do |f| %>
  
  <%= f.error_messages %>
  
  <fieldset>
    
    <legend>Quote</legend>
    
    <p>
      <%= f.text_area :quote %>
    </p>
    
  </fieldset>
  
  <fieldset>
    
    <legend>Author</legend>
    
    <p>
      <%= f.label :author %><br />
      <%= f.text_field :author %>
    </p>
    
  </fieldset>
  
  <p>
    <%= f.label :display %>
    <%= f.check_box :display %>
  </p>
  
  <p><%= f.submit "Submit" %></p>
  
<% end %>
