<% form_tag do %>
  <h2>Get in touch</h2>
  <%= hidden_field_tag :form, form ||= "N/A" %>
  <p>
    <%= label_tag :name %>
    <br />
    <%= text_field_tag :name %>
  </p>
  <p>
    <%= label_tag :email %>
    <br />
    <%= text_field_tag :email %>
  </p>
  <p>
    <%= label_tag :enquiry %>
    <br />
    <%= text_area_tag :enquiry %>
  </p>
  <p>
    <%= label_tag :postcode %>
    <br />
    <%= text_field_tag :postcode %>
  </p>
  <p>
    <%= recaptcha_tags :display => {:theme => "clean"} %>
  </p>
  <p>
    <%= submit_tag "Send" %>
  </p>
<% end %>