<p>Deciding on what options are best available to you can be a difficult.The easiest thing to do is for you to speak to a member of our team and very quickly they will point you in the right direction. In the mean time we have produced a number of helpful guides which you can use to help you answer some questions.</p>
<ul>
  <li><%= link_to("31 Ways to Reduce Paper Usage", "free-guides-31-ways-to-reduce-paper-usage.pdf") %></li>
  <li><%= link_to("Managing Mobile Devices in the Workplace", "free-guides-managing-mobile-devices-in-the-workplace.pdf") %></li>
  <li><%= link_to("Records Management Toolkit for Schools", "free-guides-records-management-toolkit-for-schools.pdf") %></li>
  <li><%= link_to("Top Tips for Document Management in Education", "free-guides-top-tips-for-document-management-in-education.pdf") %></li>
  <li><%= link_to("Top Tips for Selecting a Managed Print Service Provider", "free-guides-top-tips-for-selecting-a-managed-print-service-provider.pdf") %></li>
  <li><%= link_to("Top Tips on Data Protection", "free-guides-top-tips-on-data-protection.pdf") %></li>
</ul>