<% metadata(@page_node.active_content.meta_description, @page_node.active_content.meta_tags) %>
<% hide_right %>

<% content_for :head do %>
  <%= stylesheet_link_tag "lytebox_front.css" %>
  <%= javascript_include_tag "lytebox" %>
<% end %>

<% if @product %>
  <h1><%= title(["#{@page_node.title}: #{@product.name}"]) %></h1>
<% else %>
  <h1><%= title @page_node.title %></h1>
<% end %>

<%= @page_node.active_content.main_content %>

<% content_for :left do %>
	
	<% if @survey %>
   	<h2 class="underlined"><%= link_to "Customer Satisfaction Results", surveys_path %></h2> 
   	<div class="survey">
      <div class="survey_percentage">
        <%= @survey.result %>
      </div>
      <div class="survey_name">
        <%= @survey.name %>
      </div>
      <div class="clear"></div>
    </div>
  <% end %>
  
  <% if @testimonial %>
    <h2 class="underlined">Case Study</h2>
    <h3 class="h3_link"><%= @testimonial.company_name %></h3>
    <% if @testimonial.image %>
      <%= image_tag(@testimonial.image(:index), :class=> "image_border") unless @case_study %>
    <% end %>
    <p>"<%= @testimonial.quote %>"</p>
    <span class="date"><%= @testimonial.author %></span>
  <% end %>
  
<% end %>
