<% hide_flash; hide_right %>

<% content_for :head do %>
	<%= render '/web/seo_pages/head' %>
<% end %>

<% content_for :telephone do %>
  <span><%= SiteSetting.find_by_name("Phone (SEO)").value %></span><br />
<% end %>

<% content_for :left do %>
  <div class="left_nav">
		<h2><a href="/page/managed-document-service">Managed Document Service</a></h2>
    <ul> 
		  <li><a href="/page/electronic-document-management">Electronic Document Management (EDM)</a></li>
		  <li><a href="/page/copy-and-print">Copy and Print</a></li>
		  <li><a href="/page/partners">Partners</a></li>
		  <li><a href="/page/arena-in-business-brochure" class="document" onclick="window.open(this.href);return false;">Arena in Business Brochure</a></li>
		  <li><a href="/page/arena-in-education-brochure" class="document" onclick="window.open(this.href);return false;">Arena in Education Brochure</a></li>
	  </ul>    
  </div>
	<% if @survey %>
   	<h2 class="underlined"><%= link_to "Customer Satisfaction Results", surveys_path %></h2> 
   	<div class="survey">
      <div class="survey_percentage">
        <%= @survey.result %>
      </div>
      <div class="survey_name">
        <%= @survey.name %>
      </div>
      <div class="clear"></div>
    </div>
  <% end %>
  <%= render '/web/seo_pages/request_a_review', :form => "managed_document_service" %>
<% end %>

<!-- Main ------------------------------------ -->

<div id="seo-landing-page">
  
  <h1><%= title("Managed Document Service") %></h1>
  
  <%= flash[:notice] if flash[:notice] %>
  
  <div class="row">
    
    <div class="cell guttered">
      <p><strong>Research has shown that print spend accounts for 1 &#45; 3&#37; of annual revenue;.</strong></p>
			<p>
				Addressing your print and copy strategy in isolation can deliver cost savings and a more efficient way of working.
				We also know that organisations spend between 5 and 15&#37; of their annual revenue on document lifecycle costs.
				So, a broader approach that considers the way you work with documents across the board will deliver a much more significant financial cost saving.
			</p>
			<p>
				With this in mind, our MDS addresses the way your organisation works with paper and digital documents with the aim of promoting efficiency,
				reducing waste and minimising costs.
			</p>
			<p>
				Solutions range from relatively simple ideas that focus on just one element of your document workflow.
				For example, we may look at digitising a paper archive or your mailroom.
				We could address a particular paper-driven process such as purchase order processing;
				or look at refining your print and copy systems and practices.
			</p>
			<p>
				Alternatively, we may review and improve the way you work with documents across the board,
				enhancing your technical infrastructure and integrating new tools and practices to drive efficiency,
				reduce costs and minimise waste in all areas of document management including creation, processing, storage and disposal.
			</p>
    </div>
    
    <div class="cell">
      <%= image_tag("seo-managed-document-service.jpg", :width => "330", :height => "250", :alt => "Managed Document Service", :title => "Managed Document Service") %>
      Remote access, 24/7 - from anywhere with an internet connection, including some mobile devices.
			<div id="seo-share">
				<h2>Share...</h2>
        <div id="fb-root"></div>
				<div class="fb-like" data-href="http://www.arenagroup.net/managed_document_service" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
        &nbsp;
				<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
        &nbsp;
				<g:plusone></g:plusone>
      </div>
    </div>
    
    <div class="clear"></div>
    
  </div>

  <div class="row">
    <%= render '/web/seo_pages/map' %>
  </div>  
	
	<% unless @case_study.blank? %>
		<div class="row">
			<h2>Case Studies: See how we've helped other people</h2>
			<%= render '/case_studies/case_study', :case_study => @case_study %>
		</div>
    <div class="clear"></div>
	<% end %>
  
  <div class="row">
    <h2>Are you interested in our Managed Document Service (MDS)?</h2>
    <div class="cell guttered">
      <%= image_tag("managed-document-service.jpg", :alt => "Managed Document Service", :title => "Managed Document Service") %>
      <p>Read more on our dedicated <%= link_to("MDS page", "/page/managed-document-service") %>.</p>
    </div>
    <div class="seo-cell" style="width: 50%; float: left;">
      <ul>
        <li>Electronic Document Management (EDM)</li>
        <li>Scan, print and email</li>
        <li>Paperless back-ups</li>
        <li>Automatic toner ordering</li>
        <li>Service and repair response team</li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  
  <div class="row">
    <div class="cell guttered">
      <h2>Download our free guides</h2>
      <%= render '/web/seo_pages/free_guides' %>
    </div>
    <div class="cell">
      <h2>FAQs</h2>
      <%= render '/faqs/seo', :faqs => @faqs %>
    </div>
    <div class="clear"></div>
  </div>
  
  <div class="row">
		<%= flash[:alert] if flash[:alert] %>
		<%= render '/web/seo_pages/contact_form' %>
  </div>
  
</div>
