<% hide_left %>
<% hide_right %>

<h1><%= title("Search Results for #{params[:search]}") %></h1>
<% if @results.length > 0 %>
  <% for result in @results %>
    <div class="result">
      <% begin %>
        <%= render :partial => "#{result.class.to_s.underscore.pluralize}/search_result", 
                   :locals => {:result => result} %>
      <% rescue Exception => e %>
        <% logger.info "Result render error:" %>
        <% logger.info e.to_s %>
        <h2><%= h result.name %></h2>
        <p><%= result.summary %></p>
        <% if result.class == PageContent %>
          <p align="right"><%= link_to "More", url_for(result.page_node.path), {:class=>"blue_arrow"} %></p>
        <% else %>
          <% begin %>
            <p align="right"><%= link_to "More", url_for(result), {:class=>"blue_arrow"} %></p>
          <% rescue %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <p><%= will_paginate @results, :params => {:search => params[:search]} %></p>
<% else %>
  <p>No Results to display.</p>
<% end %>
