<% metadata(@page_node.active_content.meta_description, @page_node.active_content.meta_tags) %>
<% hide_right %>
<% title(Sanitize.clean(@page_node.title)) %>
<h1><%= @page_node.title %></h1>	

<%= @page_node.active_content.main_content %>

<% if @page_node.name.eql?("Careers") %>
  <a name="CurrentVacancies"></a>
  <h2>Current Vacancies</h2>
  <% if !@staff_testimonials.empty? %>
    <h2>Staff testimonials</h2>
    <% @staff_testimonials.each do |testimonial| %>
      <p>
        "<%= testimonial.quote %>"
         - <strong><%= testimonial.author %></strong>
      </p>
    <% end %>
  <% end %>
<% end %>
<!-- On certain pages, show the code here: -->
<% if @case_study %>
  <hr />
  <h2 class="font_grey">Related Case Study</h2>
  <%= render :partial => "case_studies/case_study", :case_study => @case_study %>
<% end %>

<% content_for :left do %>
	
	<!-- On certain pages, show the code here: --> 
	<% if @survey %>
   	<h2 class="underlined"><%= link_to "Customer Satisfaction Results", surveys_path %></h2> 
   	<div class="survey">
      <div class="survey_percentage">
        <%= @survey.result %>
      </div>
      <div class="survey_name">
        <%= @survey.name %>
      </div>
      <div class="clear"></div>
    </div>
  <% end %>
  
  <% if @testimonial %>
    <h2 class="underlined">Case Study</h2>
    <h3 class="h3_link"><%= @testimonial.company_name %></h3>
    <% if @testimonial.image %>
      <%= image_tag(@testimonial.image(:index), :class=> "image_border") unless @case_study %>
    <% end %>
    <p>"<%= @testimonial.quote %>"</p>
    <span class="date"><%= @testimonial.author %></span>
  <% end %>
  
<% end %>
