<% metadata(@page_node.active_content.meta_description, @page_node.active_content.meta_tags) %>
<% hide_right %>
<% hide_left %>

<% content_for :head do %>
  <%= javascript_include_tag "lytebox" %>
  <%= stylesheet_link_tag "lytebox_front.css" %>
<% end %>

<script type="text/javascript">
  var first_images = new Array();
  var sizes = new Array();

  <% for gallery in @galleries %>
    first_images[<%= gallery.id %>] = 0;
    sizes[<%= gallery.id %>] = <%= gallery.gallery_images.length - 4 %>;
  <% end %>

  function moveLeft(gallery_id)
  {
    if (first_images[gallery_id] > 0)
    {
      first_images[gallery_id]--;

      var end = 'image' + gallery_id;
      end += '-';
      end += first_images[gallery_id];

      last_image = first_images[gallery_id] + 4;
      var start = 'image' + gallery_id;
      start += '-';
      start += last_image;

      document.getElementById(start).style.display = "none";
      document.getElementById(end).style.display = "";

      var right_arrow = "right_arrow" + gallery_id;
      document.getElementById(right_arrow).style.display = "";

      if (first_images[gallery_id] == 0)
      {
        var left_arrow = "left_arrow" + gallery_id;
        document.getElementById(left_arrow).style.display = "none";
      }
    }
  }

  function moveRight(gallery_id)
  {
    if (first_images[gallery_id] < sizes[gallery_id])
    {
      var end = 'image' + gallery_id;
      end += '-';
      end += first_images[gallery_id];

      last_image = first_images[gallery_id] + 4;
      var start = 'image' + gallery_id;
      start += '-';
      start += last_image;

      document.getElementById(end).style.display = "none";
      document.getElementById(start).style.display = "";

      var left_arrow = "left_arrow" + gallery_id;
      document.getElementById(left_arrow).style.display = "";

      first_images[gallery_id]++;

      if (first_images[gallery_id] == sizes[gallery_id])
      {
        var right_arrow = "right_arrow" + gallery_id;
        document.getElementById(right_arrow).style.display = "none";
      }
    }
  }
</script>

<div class="community_left">

  <% title(Sanitize.clean(@page_node.title)) %>
  <h1><%= @page_node.title %></h1>

	<%= @page_node.active_content.main_content %>

  <% if !@community_news.empty? %>
  <br />
  <hr />
    <h2>Community News</h2>
    <ul>
      <% @community_news[0..3].each do |article| %>
        <li><%= link_to article.headline, article %></li>
      <% end %>
    </ul>
    <p align="right"><%= link_to "More", articles_path(:tag => "Arena in the Community"), {:class => "blue_arrow"} %></p>
  <% end %>

  <hr />
<h2>Recently Supported</h2>
<div class="support_logos">
  <%= link_to(image_tag("/images/community/rfa-logo.png", {:title => "Run for All", :alt => "Run for All"}), "http://www.runforall.com", :target => "_blank", :class => "with-margin") %>
  <%= link_to (image_tag '/images/community/oiam-logo.jpg'), 'http://oiam.org/', :target => '_blank'%>
  <%= link_to (image_tag '/images/community/100-club-supporter.png'), 'http://www.leedscf.org.uk/the-100-club/', :target => '_blank', :class => 'with-margin' %>
  <%= link_to (image_tag '/images/community/wharfedale-ton-logo.jpg'), 'https://www.gordonsllp.com/the-wharfedale-ton/', :target => '_blank'%>
  <%= link_to (image_tag '/images/community/cfl-thumb-logo.jpg'), 'http://www.leeds.gov.uk/childfriendlyleeds/Pages/default.aspx', :target => '_blank', :class => 'with-margin' %>

  <%= link_to (image_tag '/images/community/lnaa.jpg'), 'https://www.ambucopter.org.uk/', :target => '_blank' %>
  <%= link_to (image_tag '/images/community/nwaa.jpg'), 'https://nwaa.net/', :target => '_blank' %>
  <%= link_to (image_tag '/images/community/yaa.jpg'), 'https://www.yorkshireairambulance.org.uk/', :target => '_blank' %>


  <%= link_to (image_tag '/images/community/east-lancashire-hospice.png'), 'https://eastlancshospice.org.uk/', :target => '_blank' %>
  <%= link_to (image_tag '/images/community/rotherham-hospice.png'), 'https://www.rotherhamhospice.org.uk/', :target => '_blank', :class => 'with-margin' %>
  <%= link_to (image_tag '/images/community/wakefield-hospice.gif'), 'https://www.wakefieldhospice.org/', :target => '_blank' %>
  <%#= link_to(image_tag("/images/supports-rnd.jpg", {:title => "Red Nose Day", :alt => "Red Nose Day"}), "http://www.rednoseday.com", :target => "_blank") %>
  <%#= link_to(image_tag("/images/supports-age-uk.jpg", {:title => "Age UK", :alt => "Age UK"}), "http://www.ageuk.org.uk", :target => "_blank", :class => "with-margin") %>
  <%#= link_to(image_tag("/images/supports-the-big-give.jpg", {:title => "The Big Give", :alt => "The Big Give"}), "http://www.thebiggive.org.uk", :target => "_blank") %>
  <%#= link_to(image_tag("/images/supports-herd-farm.jpg", {:title => "Herd Farm", :alt => "Herd Farm"}), "http://www.herdfarm.co.uk", :target => "_blank", :class => "with-margin") %>
  <%#= link_to(image_tag("/images/supports-holbeck-elderly-aid.jpg", {:title => "Holbeck Elderly Aid", :alt => "Holbeck Elderly Aid"}), "http://holbeckelderlyaid.org.uk", :target => "_blank") %>
  <div class="clear"></div>
</div>


</div>

<div class="community_right">

	<% for gallery in @galleries %>
	  <h2 class="clear"><%= link_to gallery.name, gallery.gallery_images.first.image.url(:show), :rel => "lytebox[gallery_images#{gallery.id}]", :alt => (gallery.gallery_images.first.image_alt.blank? ? gallery.name : gallery.gallery_images.first.image_alt), :title => (gallery.gallery_images.first.image_alt.blank? ? gallery.name : gallery.gallery_images.first.image_alt) %></h2>
	  <p>
      <% if gallery.gallery_images.length > 4 %>
        <%= link_to_function "Last", "moveLeft(#{gallery.id})", {:class=>"community_previous", :id => "left_arrow#{gallery.id}", :style => "display:none;"} %>
      <% end %>
      <% count = 0 %>
	    <% for gallery_image in gallery.gallery_images[0..3] %>
	      <%= link_to image_tag(gallery_image.image(:index), :id => "image#{gallery.id}-#{count}"), gallery_image.image.url(:show), :rel => "lytebox[gallery_images#{gallery.id}]", :alt => (gallery_image.image_alt.blank? ? gallery_image.gallery.name : gallery_image.image_alt), :title => (gallery_image.image_alt.blank? ? gallery_image.gallery.name : gallery_image.image_alt) %>
	      <% count += 1 %>
	    <% end %>
	    <% if gallery.gallery_images.length > 4 %>
        <% for gallery_image in gallery.gallery_images[4..100] %>
          <%= link_to image_tag(gallery_image.image(:index), :style => "display:none;", :id => "image#{gallery.id}-#{count}"), gallery_image.image.url(:show), :rel => "lytebox[gallery_images#{gallery.id}]", :alt => (gallery_image.image_alt.blank? ? gallery_image.gallery.name : gallery_image.image_alt), :title => (gallery_image.image_alt.blank? ? gallery_image.gallery.name : gallery_image.image_alt) %>
          <% count += 1 %>
        <% end %>
        <%= link_to_function "Next", "moveRight(#{gallery.id})", {:class=>"community_next", :id => "right_arrow#{gallery.id}"} if gallery.gallery_images[4] %>
      <% end %>
    </p>
	<% end %>

</div>
