<% hide_flash; hide_right %>

<% content_for :head do %>
	<link rel="canonical" href="http://www.arenagroup.net/page/edm-for-storing-protecting-and-retrieving-critical-documents" />
	<%= render '/web/seo_pages/head' %>
<% end %>

<% content_for :telephone do %>
  <span><%= SiteSetting.find_by_name("Phone (SEO)").value %></span><br />
<% end %>

<% content_for :left do %>
	<% if @survey %>
   	<h2 class="underlined"><%= link_to "Customer Satisfaction Results", surveys_path %></h2>
   	<div class="survey">
      <div class="survey_percentage">
        <%= @survey.result %>
      </div>
      <div class="survey_name">
        <%= @survey.name %>
      </div>
      <div class="clear"></div>
    </div>
  <% end %>
  <!--
    <h2>Request a free document review</h2>
    <p>All fields are required.</p>
    <% if flash[:review] %>
      <%= flash[:review] %>
    <% end %>
    <% form_tag(request_a_review_page_node_path(@page_node)) do %>
      <p>
        <%= text_field_tag :name, params[:name], :placeholder => "Name" %>
      </p>
      <p>
        <%= text_field_tag :company_name, params[:company_name], :placeholder => "Company name" %>
      </p>
      <p>
        <%= text_field_tag :email, params[:email], :placeholder => "E-Mail" %>
      </p>
      <p>
        <%= text_field_tag :phone, params[:phone], :placeholder => "Phone" %>
      </p>
      <p>
        <% options = ["10 and Under", "10-25 People", "25-75 People", "25-75 People", "250+ People"] %>
        <%= select_tag :business_size, options_for_select([["Size of Business", ""]] + options, params[:business_size]) %>
      </p>
      <p>
        <%= text_area_tag :additional_info, params[:additional_info], :placeholder => "Add any more information here" %>
      </p>
      <p>
        <%= submit_tag "Send" %>
      </p>
    <% end %>
  -->
  <%= flash[:alert] if flash[:alert] %>
  <%= render '/web/seo_pages/marketing_leads', :form => "EDM for Storing, Protecting and Retrieving Critial Documents" %>
<% end %>

<!-- Main ------------------------------------ -->

<div id="seo-landing-page">

  <h1><%= title("EDM for Storing Protecting and Retrieving Critical Documents") %></h1>

  <%= flash[:notice] if flash[:notice] %>
	<%= flash[:error]  if flash[:error] %>

  <div class="row">
    <div class="cell full-width">
      <div class="cell float-right">
        <h2 class="no-top">Benefits:</h2>
        <ul>
          <li>Time saved looking for important documents</li>
          <li>Better working environments for your staff - more space, less filing cabinets.</li>
          <li>Cleared office space to increase your workforce as your business expands</li>
          <li>No need to employ staff internally to carry out the scanning, we offer a speedy service for archive scanning at competitive prices</li>
          <li>Remove the risk of loss or damage to information kept only on paper</li>
        </ul>
        <%#= image_tag("seo-electronic-document-manager.jpg", :width => "330", :height => "250", :alt => "Electronic Document Manager", :title => "Electronic Document Manager") %>
        <div id="seo-share">
          <h2>Share...</h2>
          <div id="seo-share-email">
            <a href="mailto:?subject=I%20thought%20you%20might%20be%20interested%20in%20this...&body=<%= request.url %>"</a>
          </div>
          <div id="seo-share-facebook">
            <div id="fb-root"></div>
            <div class="fb-like" data-href="http://www.arenagroup.net/page/edm-for-storing-protecting-and-retrieving-critical-documents" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
          </div>
          <div id="seo-share-twitter">
            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
          </div>
          <div id="seo-share-google-plus">
            <g:plusone></g:plusone>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <%= @page_node.active_content.main_content %>
    </div>

    <div class="clear"></div>

  </div>

  <div class="row">
    <%#= render '/web/seo_pages/map' %>
  </div>

	<% unless @case_study.blank? %>
		<div class="row">
			<h2>Case Studies: See how we've helped other people</h2>
			<%= render '/case_studies/case_study', :case_study => @case_study %>
		</div>
    <div class="clear"></div>
	<% end %>

  <div class="row">
    <h2>Are you interested in our Managed Document Service (MDS)?</h2>
    <div class="cell guttered">
      <%= image_tag("managed-document-service.jpg", :alt => "Managed Document Service", :title => "Managed Document Service") %>
      <p>Read more on our dedicated <%= link_to("MDS page", "/page/managed-document-service") %>.</p>
    </div>
    <div class="seo-cell" style="width: 50%; float: left;">
      <ul>
        <li>Electronic Document Management (EDM)</li>
        <li>Scan, print and email</li>
        <li>Paperless back-ups</li>
        <li>Automatic toner ordering</li>
        <li>Service and repair response team</li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>

  <div class="row">
    <div class="cell guttered">
      <h2>Download our free guides</h2>
      <p>
				Deciding on an appropriate print and copy strategy can be difficult and a consultation with one of our experts can very quickly point you in the right direction.
				In the meantime we have produced a number of helpful guides which you can use to help you answer some basic questions.
			</p>
			<ul>
				<li><%= link_to("31 Ways to Reduce Paper Usage", "http://www.arenagroup.net/free-guides-31-ways-to-reduce-paper-usage.pdf") %></li>
				<li><%= link_to("Managing Mobile Devices in the Workplace", "http://www.arenagroup.net/free-guides-managing-mobile-devices-in-the-workplace.pdf") %></li>
				<li><%= link_to("Records Management Toolkit for Schools", "http://www.arenagroup.net/free-guides-records-management-toolkit-for-schools.pdf") %></li>
				<li><%= link_to("Top Tips for Selecting a Managed Print Service Provider", "http://www.arenagroup.net/free-guides-top-tips-for-selecting-a-managed-print-service-provider.pdf") %></li>
				<li><%= link_to("Top Tips on Data Protection", "http://www.arenagroup.net/free-guides-top-tips-on-data-protection.pdf") %></li>
        <li><%= link_to("Scanning Bureau", "http://arenagroup.net/assets/stored_documents/original/42_ARENA_mstoreArchiving.pdf") %></li>
			</ul>
			<h2>Useful Links</h2>
      <ul>
				<li><%= link_to("Questioning the Cost of Purchasing", "http://www.arenagroup.net/articles/110") %></li>
			</ul>
    </div>
    <div class="cell">
      <h2>FAQs</h2>
      <%= render '/faqs/seo', :faqs => @faqs %>
    </div>
    <div class="clear"></div>
  </div>

</div>
