<script type="text/javascript">
  var divs_to_fade = new Array(<%= @green_arena_texts.collect{|x| "'text#{x.id}'"}.join(",") %>);
  var i = 0;
  var wait = 5000;
  
  function switchToInput(input, index)
  {
    <% for text in @green_arena_texts %>
      textdiv<%= text.id %> = document.getElementById("text<%= text.id %>");
      textdiv<%= text.id %>.style.display = "none";
    <% end %>
    
    current = document.getElementById(input);
    current.style.display = "";
    i = index;
  }
  
  function swapFade() 
  {
    Effect.Fade(divs_to_fade[i], { duration:1, from:1.0, to:0.0 });
    i++;
    if (i == <%= @green_arena_texts.length %> ) i = 0;
    Effect.Appear(divs_to_fade[i], { duration:1, from:0.0, to:1.0 });
  }
  
  function startPage() 
  {
    setInterval('swapFade()', wait);
  }
</script>

<% metadata(@page_node.active_content.meta_description, @page_node.active_content.meta_tags) %>
<% hide_right %>
<% hide_left %>
<% insert_into_head %>
<% content_for :insert_into_head do %>
  </head>
  <body onload="startPage()">
<% end %>

<div class="green_arena_left">
  <% title(Sanitize.clean(@page_node.title)) %>
  <h1><%= @page_node.title %></h1>	  
  <%= @page_node.active_content.main_content %>
</div>

<div class="green_arena_right">
  <h2>Arena Group's Environmental Aims</h2>
	<div class="green_arrows">
		<%# This and the for loop below are the divs for the text that goes in the black circle of the image %>
    <div id='text<%= @green_arena_texts.first.id %>'>
      <%= @green_arena_texts.first.content %>
    </div>
    <% for text in @green_arena_texts.drop(1) %>
      <div id='text<%= text.id %>' style="display: none">
        <%= text.content %>
      </div>
    <% end %>
  </div>
  <div class="green_arena_buttons">
		<%# These are the buttons from the bottom of the image %>
    <% for text in @green_arena_texts %>
      <%= link_to_function "See more", "switchToInput('text#{text.id}', #{@green_arena_texts.index(text)})" %>
    <% end %>
  </div>
</div>
